/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root{
    --cream: #fefcec;
    --red:#c4371c;
    --black: #151412;

    --font-head: "museomoderno", "times new roman", serif;
    --font-body: "bebas-neue-pro", "arial", sans-serif;
}

body{
    width: 1280px;
    margin: 0 auto;
    font-family: var(--font-body);
    background-color: #ffffff;
    background-image: url(images/paper-fibers.png);
    color: var(--black);
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: var(--cream);
}

main{
    background-color: var(--cream);
}

header h1{
    font-family: var(--font-head);
    font-size: 3rem;
    text-align: center;
    margin: 15px 0;
    font-weight: bold;
}

header h1 a{
    text-decoration: none;
    color: var(--black);
}

nav ul{
    margin-top: 15px;
    display: flex;
    list-style: none;
    padding: 0;
    gap: 20px;
    justify-content: center;
}

nav ul a{
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    color: var(--black);
    font-size: 1.3rem;
}

nav ul a:hover{
    color: var(--red);
}

nav ul a.active{
    color: var(--red);
    text-decoration: none;
    display: inline-block;
    border-bottom: 4px dotted var(--red);
    padding-bottom: 3px;
}

.dumplings{
    width: 1280px;
    height: auto;
}

h2{
    text-align: center;
    font-family: var(--font-head);
    font-size: 2rem;
    padding: 30px;
}

.menubutton{
    text-decoration: none;
    background-color: var(--red);
    display: block;
    width: fit-content;
    margin: 10px auto;
    padding: 10px 20px;
    color: var(--cream);
    font-weight: bold;
    text-align: center;
    font-size: 1.2rem;
    border: 4px solid var(--red);
}

.menubutton:hover{
    border: 4px dotted var(--red);
    background-color: var(--cream);
    color: var(--red)
}

.menubutton:active{
    border: 4px dotted var(--black);
    background-color: var(--cream);
    color: var(--black);
}

.cater{
    text-align: center;
    background-color: var(--black);
    color: var(--cream);
    margin-top: 50px;
}

.cater h3{
    font-size: 1.6rem;
    padding: 50px;
    padding-top: 60px;
    font-weight: bold;
}

.cater p{
    margin: 0 auto;
    padding: 0 0 60px 0;
    font-size: 1.3rem;
    line-height: 1.8;
}

.info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    background-color: var(--red);
}

.local, .chef{
    flex: 1;
    background-color: var(--red);
    padding: 60px 40px;
    box-sizing: border-box;
}

.local img, .chef img{
    width: 100%;
    height: auto;
    display: block;
}

.local h3, .chef h3{
    margin: 25px 0;
    font-size: 1.6rem;
    text-align: center;
    color: var(--cream);
    font-weight: bold;
}

.local p, .chef p{
    color: var(--cream);
    font-size: 1.3rem;
    line-height: 1.4;
}

footer{
    text-align: center;
    font-size: 1.1rem;
    padding: 30px 0;
    line-height: 1.8;
    background-color: var(--cream);
}

.table{
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center 80%;
}

.contact{
    background-color: var(--black);
    color: var(--cream);
    padding-bottom: 50px;
}

.contact p{
    text-align: center;
    line-height: 1.6;
    padding-bottom: 10px;
    font-size: 1.2rem;
}


.required{
    color: var(--red);
    font-weight: bold;
}

form{
    border: 4px dotted var(--red);
    padding: 30px;
    max-width: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin: 50px auto;
}

.left-column, .right-column {
    display: flex;
    flex-direction: column;
}

.left-column {
    grid-column: 1;
}

.right-column {
    grid-column: 2;
}

label{
    font-weight: bold;
    color: var(--cream);
    padding-bottom: 5px;

}

input, select, textarea{
    background-color: var(--cream);
    color: var(--black);
    font-family: var(--font-body);
    font-size: 1.2rem;
    padding: 10px;
    width: 100%;
    border: none;
    margin-bottom: 20px;
    box-sizing: border-box;
}

input:invalid, select:invalid, textarea:invalid{
	border: 2px solid var(--red);
	
}

select{
    width: 100%;
    height: 35px;
    padding: 8px;
    box-sizing: border-box;
}

fieldset{
    border: 2px solid var(--cream);
    padding: 1px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
}

legend{
    font-weight: bold;
    padding: 0 3px;
}

input[type="radio"] + label{
	cursor: pointer;
	display: flex;
	align-items: center;
    padding: 0 0 10px 10px;
}

input[type="radio"] {
    appearance: none;
    margin: 5px;
    padding: 0px;
    border: none;
    font-size: 0;
    border-radius: 0;
}

input[type="radio"] + label::before {
    content: "\00a0";   
    font-size: 2.25em;
    line-height: 0.65;
    border-radius: 50%;
    display: inline-block;  
    height: 20px;
    width: 22px;
    text-align: center;
    margin-right: 16px;
    border: 2px solid var(--cream);   
    background-color: var(--cream);
    padding-bottom: 2px;
}

input[type="radio"]:checked + label::before {
    content: "\2022";
    color: var(--cream);
    background: var(--red);
}

input[type="radio"]:focus{
 outline: none;
}

input[type="radio"]:focus + label::before {
    box-shadow: 0 0 0 2px var(--red);
}

#my-submit{
    grid-column: 2;
    background-color: var(--red);
    color: var(--cream);
    border: none;
    padding: 15px;
    cursor: pointer;
    font-weight: bold;
}

#my-submit:hover{
    background-color: var(--cream);
    color: var(--red);
}

.sr-only {
    position: absolute;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}